{:require [sample-app.main]
 :init-fns []
 :compiler-options {:optimizations :simple                  ; work around cljs bug -cljs.core.load_file emitted with hardcoded absolute path
                    :pretty-print true
                    :static-fns true
                    :target :nodejs
                    :language-in :ecmascript5
                    }}
