[#:db{:ident :database/domain, :valueType :db.type/string, :cardinality :db.cardinality/one, :id #db/id[:db.part/db]}
 #:db{:ident :database/ident, :valueType :db.type/string, :cardinality :db.cardinality/one, :unique :db.unique/identity, :id #db/id[:db.part/db]}
 #:db{:ident :database/index-link, :valueType :db.type/ref, :cardinality :db.cardinality/one, :id #db/id[:db.part/db]}
 #:db{:ident :database/index-route, :valueType :db.type/string, :cardinality :db.cardinality/one, :id #db/id[:db.part/db]}
 #:db{:ident :database/member, :valueType :db.type/string, :cardinality :db.cardinality/many, :id #db/id[:db.part/db]}]
