{:require [sample-app.main]
 :init-fns [sample-app.main.-main]
 :compiler-options {:optimizations :none
                    :pretty-print true
                    ;; root relative because SSR url changes
                    :asset-path "/main.out"
                    :language-in :ecmascript5}}