{:require [sample-app.main]
 :init-fns [sample-app.main/main]
 :compiler-options {:optimizations :none
                    :pretty-print true
                    :asset-path "/static/main.out"
                    :language-in :ecmascript5}}